<style>

    .accordion{
        border: 1px solid black;
        margin-bottom: 10px;
        background-color: #333;
        color: #fff;        
        cursor: pointer;
    }

    .accordion .title{
        padding: 15px 0 15px 30px;
        border-bottom: 1px solid #333;
        text-transform: uppercase;
    }

    .accordion .description{
        padding: 15px 5px 15px 30px;        
    }

    .active{
        background-color: #000;
    }

    .inactive{
        display: none;
    }
</style>

<template>
    <div class="accordion"
        :class="{active: card.active}"         
    >       
        <div class="title">
            {{ card.title }}            
        </div>        
        <div class="description"
             :class="{inactive: !card.active}"
             v-html="card.description">            
        </div>    
    </div>
</template>

<script>
    export default {
        props: ['card'],       
    }
</script>
