<style>    
    .page-nav-bar{
        min-height: 60px;
        background-color: #eee;
    }

    .page-count{
        float: right;
        margin-top: 18px;
        margin-right: 15px;
        font-weight: bold;
    }

    .page-buttons{
        float: left;
        margin-top: 15px;
    }
    
    .page-buttons-nav li{
        list-style: none;
        float: left;
        margin: 5px;                        
    }

    .page-buttons-nav li a{
        text-decoration: none;
        padding: 5px 10px;
        color: #000;
        background-color: #ddd;
        border-radius: 3px;
    }

    .page-buttons-nav li a.current{
        background-color: #CB1021;
        color: #fff;
    }

    .page-buttons-nav li a.current:hover{
        background-color: #CB1021;
    }

    .page-buttons-nav li a:hover{
        background-color: #999;
    }

    .object-gallery{
        margin-top: 20px;        
        padding-left: 0;
    }

    .object-gallery-image img{
        padding: 10px;
        margin: 0 auto;
    }    

    .object-gallery .description{
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 13px; 
        margin-bottom: 20px;
    }

    .list-group-item{
        text-align: center;
    }

    .price{        
        font-size: 50px;
        font-weight: bold;
    }

    .price sup{
        font-size: 24px;
        font-size: 18px;
        margin-left: 5px;        
    }

    /* Panel Styles */
    .panel-heading {
        padding: 10px 0 !important;
        font-size: 24px !important;
        font-weight: bold;
        background-color: #CB1021 !important;
        color: #fff !important;
        text-align: center;
    }

     .panel-body{
        padding: 10px 0 0 15px !important;     
        border: 1px solid #d3e0e9;
        text-align: center;           
    }

    .panel,
    .page-nav-bar{
        -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
        -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
        box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;        
    }

    .panel,
    .panel * {
        border-radius: 0;
    }    

    .panel-heading.exterior-header{
        background-color: #006699 !important;
    }

    .panel-heading.interior-header{
        background-color: #009999 !important;
    }

    .panel-heading.complete-header{
        background-color: #666699 !important;
    }

    .panel-heading.ceramic-header{
        background-color: #000 !important;
    }    

</style>

<template>    
    <div class="col-xs-12">    
        <div class="page-nav-bar col-xs-12">
            <div class="page-buttons">

                <ul class="page-buttons-nav">
                    <li v-for="n in pageCount"><a href="javascript:void(0)" @click="showPage(n, $event)" :class="isFirst(n)">{{n}}</a></li>                    
                    <!--<li><a href="javascript:void(0)">→</a></li>-->
                </ul>

            </div>

            <div class="page-count hidden-xs">                                
                Viewing page {{ this.currentPage }} of {{ pageCount }}
            </div>
        </div>

        <div class="object-gallery col-xs-12">
            <div class="object-gallery-image col-xs-12" 
                 :class="rowNum" 
                 v-for="object in pages"                 
            >  
                <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" :class="object.class" v-if="object.title">{{object.title}}</div>
                <div class="panel-body">
                    <div class="price col-xs-12" :class="colNum(object)" v-for="price in object.prices" v-if="object.prices">
                      <sup v-if="price.prefix">{{price.prefix}} </sup>{{price.price}}<sup>{{price.unit}}</sup>
                    </div>
                    <div class="col-xs-12">                    
                        <p v-html="object.description"></p>
                    </div>
                </div>

                <!-- List group -->
                <ul class="list-group" v-if="object.details">
                    <li class="list-group-item"
                        v-for="detail in object.details"
                    >
                        {{ detail }}
                    </li>                    
                </ul>
                </div>                          

            </div>
        </div>

        <div class="page-nav-bar col-xs-12">
            <div class="page-buttons">

                <ul class="page-buttons-nav">
                    <li v-for="n in pageCount"><a href="javascript:void(0)" @click="showPage(n, $event)" :class="isFirst(n)">{{n}}</a></li>                                        
                </ul>

            </div>

            <div class="page-count hidden-xs">                                
                Viewing page {{ this.currentPage }} of {{ pageCount }}
            </div>
        </div>

    </div>            

</template>

<script>
    export default {
        props: ['objects', 'per-row'],   

        data() {
            return {
                perPage: 6,
                currentPage: 1                  
            }
        },   

        methods: {
            showPage(n, event) {                
                this.currentPage = n;
                var $target = $(event.currentTarget);
                $target.closest('ul').find('a').removeClass('current');
                $target.addClass('current');                                                
            },

            isFirst(n) {                
                return {
                    current: this.currentPage == n
                }
            },

            colNum(object) {
                return 'col-sm-' + Math.max(4, (12 / object.prices.length) );                
            },                                   
        },  

        computed: {            
            pages() {
                return this.objects.slice((this.currentPage * this.perPage - this.perPage), (this.currentPage * this.perPage));
            },

            pageCount() {
                return Math.ceil(this.objects.length / this.perPage);
            },
            
            rowNum() {
                return 'col-sm-' + this.perRow;
            }                               
        }
    }
</script>
