/* main layout css */
.row.main {
    background-color: #f5f8fa;
}

.row.section{
    padding: 25px 0;
    color: #000;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;                
}

body{
    font-family: 'Raleway', Arial, Helvetica, sans-serif !important;                
    overflow-x: hidden;
    width:100%;
    background-color: #000;
}

.header{
    width: 100%;                
    background-color: #000;                            
}

.footer{                                                                
    width: 100%;                                
    background-color: #000;                
}

.page-title{
    width: 100%;
    background-color: #000;
    float: left; 
    text-align: center;                                
}

.logo-container img {
    max-width: 300px;
}

.logo-container,
.booking-options{
    padding-top: 25px;                                
}            

.page-title h1{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
}

.logo-container span{
    position: relative;
    top: 4px;
}

.logo-container{
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.booking-options{
    float: right;
    margin-top: 50px;                
}

.booking-options img{
    width: 45px;
    float: left;            
}            

.book-online-button{
    width: 145px;
    height: 45px;
    float: left;
    background-color: #CB1021;
    margin-left: 10px;
    color: #fff;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.nav-container{
    background-color: #000;
}

.new-image-navbar{
    max-width: 1170px;
    margin: 0 auto;  
    border-radius: 0;                              
}

.navbar.navbar-default.new-image-navbar ul li{
    padding-left: 20px;
    padding-right: 20px;
}            

.navbar.navbar-default.new-image-navbar ul li a{            
    color: #000 !important;
    text-transform: uppercase !important;
    font-weight: bold !important;                
}            

@media (min-width: 768px){
    nav.new-image-navbar ul li:before {
        content: "";
        position: absolute;
        width: 1px;
        right: 1px;
        top: -5px;
        background: #ddd;
        height: 115%;
        -ms-transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
}   

.navbar.navbar-default.new-image-navbar ul{
    margin-left: 25%;
}

@media (max-width: 500px){
    .row-center-mobile {
        text-align: center;
    }

    .booking-options {
        margin-top: 0;
        padding-top: 0;
        float: none;
    }

    .booking-options *{
        display: inline-block !important;
        float: none !important;
    }

    .logo-container {
        float: none !important;
    }
}

@media (max-width: 879px){
    .navbar.navbar-default.new-image-navbar ul{
        margin-left: inherit;                    
    }                                
}                        

/*mobile breakpoint*/
@media (max-width: 767px){ 
    .navbar.navbar-default.new-image-navbar{
        background-color: #000;
        border-color: #000;
        text-align: center;
    }                

    .navbar.navbar-default.new-image-navbar ul{
        background-color: #fff;
    }

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;                    
    }                

    .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
} 

/*floating header crashes here*/
@media (max-width: 418px){ 
    .header{
        text-align: center;
    }
    .logo-container, .booking-options, .booking-options *{
        float: none !important;
    }
    .booking-options *{
        display: inline-block;
    }
}

.container.header-container{
    width: 100%;
}

.modal-header.hours{
    background-color: #CB1021;
    color: #fff;
}

.hours-modal .modal-content{  
    border-radius: 0;
}

.hours-modal .modal-body span:nth-child(2){                
    float: right;
}

.hours-modal .modal-body div:last-child{
    border-bottom: none;
}

.hours-modal .modal-body div{
    border-bottom: 1px solid #dedede;
    padding: 10px 0;
}

.footer .social-icons{
    text-align: center;
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .social-icons a{
    text-decoration: none;
    color: inherit;
}

.copyright{
    text-align: center;
}

.icon-facebook{
    margin-right: 15px;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 5px;
}
/* end layout css */