    /* Calendar Styles */
    .appointment-builder-header{
        text-align: center;
        font-weight: 700;
        padding: 10px 0;
    }

    .services-list{
        list-style: none;
        padding-left: 0;
    }

    .services-list li{
        padding: 10px 0 10px 20px;
        color: #fff;
        font-weight: 700;         
        cursor: pointer;
    }

    .services-list li .raquo{
        float: right;
        padding-right: 15px;        
    }

    .services-list li:nth-child(1){
        background-color: #CB1021 !important;
    }

    .services-list li:nth-child(2){
        background-color: #006699 !important;
    }

    .services-list li:nth-child(3){
        background-color: #009999 !important;
    }

    .services-list li:nth-child(4){
        background-color: #666699 !important;
    }

    @media (min-width: 670px) {
        .day {
            height: 35% !important;
        }
    }

    .day {
        padding-left: 3px;
        cursor: pointer;
    }

    .day:hover {
        background-color: #efefef;
    }

    .calendar-month-table,
    .calendar-month-row,
    .calendar-month-days {
        margin: 0;
        padding: 0;
    }   

    /* calendar animations */
    .slide-down-appear {
        transform: translateY(-100%);
    }

    .slide-down-appear.slide-down-appear-active {
        transform: translateY(0%);
        transition: all .5s ease-in-out;
    }     

    .slide-left-enter {
        transform: translateX(100%);
    }

    .slide-left-enter.slide-left-enter-active {        
        transform: translateX(0%);
        transition: all 500ms ease-in-out;
    }  

    .slide-left-leave {
        position: absolute;
        width: 100%;
        opacity: 1;
        top: 32px;             
        transform: translateX(0%);
    }

    .slide-left-leave.slide-left-leave-active {                
        transform: translateX(-100%);
        opacity: 0.1;                        
        transition: all 500ms ease-in-out;
    }        
    
    .appointment-hour,
    .appointment-minute,
    .appointment-ampm{
        width: 33%;
        display: inline-block;
    }    

    .btn-next,
    .btn-back {
        margin: 5px 10px;
    }

    .btn-back {
        float: left;
    }

    .btn-next {
        float: right;
    }

    .clear {
        clear: both;
    }

    .stage {
        padding: 0 5px;
    }

    .stage.one {
        padding: 0;
    }

    .calendar-day-dropdown {
        margin: 0 auto;
        max-width: 75%;
    }

    .form-error {
        color: red;
        font-weight: 700;
    }

    .calendar-navigator {
        padding: 10px 0;
    }

    .calendar-navigator-back button,
    .calendar-navigator-forward button {
        color: #fff !important;
        background-color: #CB1021 !important;
        border-color: #CB1021 !important;                
    }    

    .calendar-navigator-back button:hover,
    .calendar-navigator-forward button:hover {
        background-color: #CB1021 !important;
    }    

    .calendar-navigator-back {
        float: left;
    }

    .calendar-navigator-forward {
        float: right;
    }    

    @media (max-width: 678px) {
        .calendar-day-dropdown {
            max-width: 90%;
        }
    }